@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-bg: #f8fafc;
  --color-text: #0f172a;
}

.dark {
  --color-bg: #0f172a;
  --color-text: #f8fafc;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}
